@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 19 19 21;
  --background-end-rgb: 19 19 21;
}

.input-field:-webkit-autofill {
  background-color: 24 24 27 !important; /* Set your desired background color */
  /* Add any other styles you want for autofill */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 19 19 21;
    --background-end-rgb: 19 19 21;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
